<!DOCTYPE html>
 <html>
  <head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Work</title>
   <link type="text/css" href="../style/werk.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
   <link rel="icon" href="../image/flower.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
 
  </head>

 <body>
    <main role="main" id="main">
        <div class="box">
            <a href="../index-en.html" class="btn btn-white btn-animation-1"><img src="../image/back.png" width="30px"></a>
        </div>


        <section class="tiles-a">
            <ul>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/Home.png'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: Redesign Correct </h2>
                            <img src="../image/Home.png" alt="Correct">
                            <div class="text-copy wrapper">
                                <p>Together with a classmate we came up with a redesign for the webshop of correct.nl and we learned to apply patterns in an interface design.</p>
                                <p><b>Course:</b> Visual Interface Design & Prototyping</p>
                                <p><b>Tools:</b> Adobe XD, Adobe Indesign</p>
                                <p><b>Prototype:</b> <br/></p>
                                <span class="spanlink" onclick="location='https://xd.adobe.com/view/e871937b-e4be-4d75-7850-c5baf542d40e-9e40/?fullscreen&hints=off'">
                                    https://xd.adobe.com/view/e871937b-e4be-4d75-7850-c5baf542d40e-9e40/?fullscreen&hints=off
                                   </span>
                               
                            </div>
                        </div>
                    </a>

                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/ID.png'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: Psychology Blog </h2>
                            <img src="../image/ID.png" alt="ID">
                            <div class="text-copy wrapper">
                                <p>Each week a new topic was discussed in the lectures, which had to be researched in depth afterwards. I have kept everything that I have found in a blog. For extra practice I coded my blog.</p>
                                <p><b>Course:</b> Psychology of Interaction Design</p>
                                <p><b>Tools:</b> HTML, CSS</p>
                                <p><b>Website:</b> <br/></p>
                                <span class="spanlink" onclick="location='https://rooshuber.github.io/Designingwiththemindinmind/'">
                                  https://rooshuber.github.io/Designingwiththemindinmind/
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/space.png'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: Website SpaceX </h2>
                            <img src="../image/space.png" alt="">
                            <div class="text-copy wrapper">
                                <p>In this course I learned about designing and building data visualizations, displaying data from an external source, using CSS animations, working with external tools (SDKs) and APIs.</p>
                                <p><b>Course:</b> XT2 - IXD & Technology 2 </p>
                                <p><b>Tools:</b> HTML, CSS, JS, Adobe XD</p>
                                <p><b>Website:</b> <br/></p>
                                <span class="spanlink" onclick="location='https://rooshuber.github.io/challenge3/'">
                                  https://rooshuber.github.io/challenge3/
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/Desktop.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: Modulo</h2>
                            <img src="../image/Desktop.jpg" alt="Ocean beach">
                            <div class="text-copy wrapper">
                                <p> Together with my work group, we were asked by the client to realize a digital solution that could help users (patients suffering from intermittent claudication) participate in daily life and can be supported by a physiotherapist. </p>
                                <p><b>Course:</b> Project 1: Usable Design</p>
                                <p><b>Tools:</b> Adobe XD, Adobe Indesign</p>
                                <p><b>Prototype:</b> <br/></p>
                                <span class="spanlink" onclick="location='https://xd.adobe.com/view/e30573cf-127e-4133-91a6-eeba1580039d-b656/'">
                                  https://xd.adobe.com/view/e30573cf-127e-4133-91a6-eeba1580039d-b656/
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/ht.png'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: HT Portfolio </h2>
                            <img src="../image/ht.png" alt="">
                            <div class="text-copy wrapper">
                                <p> In this portfolio, I've documented everything we've done in this course. </p>
                                <p><b>Course:</b> HCI Technologies</p>
                                <p><b>Tools:</b>HTML, CSS, Js, Arduino, Unreal Engine </p>
                                <p><b>Website:</b> <br/></p>
                                <span class="spanlink" onclick="location=''">
                                  "still in the making"
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/ux.png'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: Concerto</h2>
                            <img src="../image/ux.png" alt="">
                            <div class="text-copy wrapper">
                                <p> Today's online store doesn't convey the shopping experience of the brick and mortar stores, so they miss out on the opportunity to stand out from the competition. Together with my group I have studied how this problem can be solved.</p>
                                <p><b>Course:</b> User Experience</p>
                                <p><b>Tools:</b> Adobe XD</p>
                                <p><b>Prototype:</b> <br/></p>
                                <span class="spanlink" onclick="location='https://xd.adobe.com/view/44fd0b11-44b1-41d0-9979-02916459e6a2-11ae/'">
                                  https://xd.adobe.com/view/44fd0b11-44b1-41d0-9979-02916459e6a2-11ae/
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/Mimic.jpg'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: Campaign Design </h2>
                            <img src="../image/Mimic.jpg" alt="">
                            <div class="text-copy wrapper">
                                <p> We were approached by Mimic to come up with an online campaign that would inspire customer loyalty.</p>
                                <p><b>Course:</b> Project Designing for communities</p>
                                <p><b>Tools:</b> Adobe XD, Adobe Indesign</p>
                                <p><b>Campange book:</b> <br/></p>
                                <!--<p><a href="file:///D:/Downloads/Campagneboek_Mimic_V2.pdf">Campagne boek </a> bekijken</p> -->
                                <!-- Nog even zo gelaten ivm campagne boek mimic linkje-->
                                <span class="spanlink" onclick="location='https://drive.google.com/file/d/1dNCqGviOd0HU5mEV4L5IjkRp_-Cy8ps9/view?usp=sharing'">
                             "https://drive.google.com/file/d/1dNCqGviOd0HU5mEV4L5IjkRp_-Cy8ps9/view?usp=sharing"

                                  </span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/Leiding.png'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: ROC Buddy </h2>
                            <img src="../image/Leiding.png" alt="">
                            <div class="text-copy wrapper">
                                <p> The ROC Mondriaan wants to offer prospective students the opportunity to taste the atmosphere and make a better choice of study. The digital solution had to use the sensors of smartphones.</p>
                                <p><b> Course:</b> Context Aware Design</p>
                                <p><b> Tools:</b> Adobe XD</p>
                                <p><b>Prototype:</b> <br/></p>
                                <span class="spanlink" onclick="location='https://xd.adobe.com/view/6f37425d-dcfd-48b3-8020-c2525fd0c3f7-3a64/?fullscreen&hints=off'">
                                  https://xd.adobe.com/view/6f37425d-dcfd-48b3-8020-c2525fd0c3f7-3a64/?fullscreen&hints=off
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/xt1.png'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: Redesign Website Buurtsuper </h2>
                            <img src="../image/xt1.png" alt="">
                            <div class="text-copy wrapper">
                                <p> The assignment was to revise the current site and make it more readable on different screen sizes. We had to use a CSS grid system and/or flexbox, it had to be responsive and mobile-first.</p>
                                <p><b>Course:</b> XT1 - IXD & Technology 1</p>
                                <p><b>Tools:</b>HTML, CSS, Adobe XD</p>
                                <p><b>Website:</b> <br/></p>
                                <span class="spanlink" onclick="location='https://rooshuber.github.io/leovddrift/'">
                                  https://rooshuber.github.io/leovddrift/
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/18+.png'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: Design Website Kwartje </h2>
                            <img src="../image/18+.png" alt="">
                            <div class="text-copy wrapper">
                                <p> Kwartje Brewery didn't have a website yet and we were asked to design and code one.</p>
                                <p><b>Course:</b> Project Studio 2</p>
                                <p><b>Tools:</b>HTML, CSS, JS, Adobe XD, Adobe Photoshop</p>
                                <p><b>Prototype:</b> <br/></p>

                                <span class="spanlink" onclick="location='https://xd.adobe.com/view/6328058f-2a34-4610-63e0-77bd4c164c7b-1519/'">
                                  https://xd.adobe.com/view/6328058f-2a34-4610-63e0-77bd4c164c7b-1519/
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="boxtile" style="background: url('../image/Begin pagina.png'); background-size: cover;" aria-controls="aside" aria-expanded="false">
                        <div class="details visually-hidden">
                            <h2>Assignment: Portfolio </h2>
                            <img src="../image/Begin pagina.png">
                            <div class="text-copy wrapper">
                                <p> Based on everything I've learned so far, I've made a portfolio.</p>
                                <p><b>Course:</b> Project Studio 3</p>
                                <p><b>Tools:</b> Adobe XD</p>
                                <p><b>Prototype:</b> <br/></p>
                                <span class="spanlink" onclick="location='https://xd.adobe.com/view/14c41bf3-20ce-4ef6-477b-cb56bfb98c40-62f5/?fullscreen&hints=off'">
                                  https://xd.adobe.com/view/14c41bf3-20ce-4ef6-477b-cb56bfb98c40-62f5/?fullscreen&hints=off
                                  </span>
                            </div>
                        </div>
                    </a>
                </li>



            </ul>
        </section>

    </main>

    <aside role="complementary" id="aside" aria-hidden="true" aria-expanded="false">
        <a href="#" class="close"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/close-white-thin.svg" alt="Close button"><span class="visually-hidden">Return to main content</span></a>
        <div class="aside--details" tabindex="0" aria-live="polite" aria-atomic="true" aria-label="Image details">

        </div>
    </aside>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/toggleAria.js'></script>

    <script src="../script/werk.js"></script>

</body>
</html>

